.ipynb_checkpoints/*
JupyterNotebooks/.ipynb_checkpoints/*
LectureNotes/.ipynb_checkpoints/*
AssignmentTemplates/.ipynb_checkpoints/*
AssignmentSolutions/.ipynb_checkpoints/*
JupyterNotebooks/OpAmps/.ipynb_checkpoints/*
JupyterNotebooks/ODB/.ipynb_checkpoints/*
JupyterNotebooks/WeatherPrediction/.ipynb_checkpoints/*
Untitled*.ipynb
__pycache__/*
JupyterNotebooks/__pycache__/*
Fall2020/*
AssignmentSolutions/final/*
venv/*
venv/bin/*
venv/lib/*
venv/include/*
venv
WWO/tf_wx_model/*

