.ipynb_checkpoints/*
JupyterNotebooks/.ipynb_checkpoints/*
LectureNotes/.ipynb_checkpoints/*
AssignmentTemplates/.ipynb_checkpoints/*
AssignmentSolutions/.ipynb_checkpoints/*
Untitled*.ipynb
__pycache__/*
